name: CI/CD Flask App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          echo "Connected to EC2"

          if [ ! -d "devops-project" ]; then
            git clone https://github.com/<ashwini02025>/devops-project.git
          fi

          cd devops-project
          git pull origin main

          docker stop flask-app || true
          docker rm flask-app || true

          docker build -t flask-app .
          docker run -d -p 5000:5000 --name flask-app flask-app

